
####
# Enable rails rules
####
Rails:
  Enabled: true

####
# Global rules
####
AllCops:
  NewCops: disable
  Exclude:
    - '.chefrepo/**/*'
    - '.vagrant/**/*'
    - '.git/**/*'
    - '**/tmp/**/*'
    - '**/templates/**/*'
    - '**/vendor/**/*'
    - '**/node_modules/**/*'
    - 'tungsten/**/*'
    - 'tungsten-support/**/*'
    - Vagrantfile
    - Guardfile

    # Additional exclude files by rubocop-rails_config
    # @see https://github.com/toshimaru/rubocop-rails_config/blob/main/config/rails.yml#L20
    - '**/bin/**/*'
    - '**/db/schema.rb'



  # Enable new rules only if validated by Captive (or Airbnb via inherited_from)
  DisabledByDefault: true


####
# Include every files
####
inherit_from:
  - './rubocop-bundler.yml'
  - './rubocop-capybara.yml'
  - './rubocop-captive.yml'
  - './rubocop-factory_bot.yml'
  - './rubocop-gemspec.yml'
  - './rubocop-layout.yml'
  - './rubocop-lint.yml'
  - './rubocop-metrics.yml'
  - './rubocop-naming.yml'
  - './rubocop-performance.yml'
  - './rubocop-rake.yml'
  - './rubocop-rails.yml'
  - './rubocop-rspec.yml'
  - './rubocop-security.yml'
  - './rubocop-style.yml'
